@model IEnumerable<AssignmentTwo.Models.Schedule>

@{
    ViewData["Title"] = "My Schedule";
}

<h2>My Schedule</h2>

<p>This page only shows your upcoming schedules for coaches.</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.When)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoachEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.When)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>

        </tr>
        }
    </tbody>
</table>
